
pandas  # 2.2.0
rich  # 13.7.0
typer  # 0.9.0
selenium  # webdriver automation
webdriver-manager  # manage browser drivers
cinemagoer  # for mapping titles to IMDb IDs (formerly IMDbPY)
beautifulsoup4  # HTML parsing
requests  # HTTP requests
