name: Publish Conda Package

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  conda-build-upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: 3.9
          # Essential to prevent permission issues
          activate-environment: build_env

      - name: Install build tools
        shell: bash -l {0}
        run: |
          conda install -y conda-build anaconda-client

      - name: Build and Upload
        shell: bash -l {0}
        env:
          ANACONDA_API_TOKEN: ${{ secrets.ANACONDA_TOKEN }}
        run: |
          conda config --add channels conda-forge
          conda config --set channel_priority strict
          if [[ $GITHUB_REF == refs/tags/* ]]; then
            VERSION=${GITHUB_REF#refs/tags/v}
          else
            VERSION="0.0.0"
          fi

          echo "Building Conda package version: $VERSION"

          export PKG_VERSION=$VERSION

          conda build . --output-folder dist

          anaconda upload --label main dist/noarch/*.tar.bz2
